* {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  html {
    font-family: 'Bebas Neue', cursive;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
    background: rgb(6, 168, 114);
    height: 100%;
    background-image: url("/WhatsApp\ Image\ 2022-07-03\ at\ 18.36.37.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .profile>img {
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 100%;
  }
  
  .profile>p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 3px;
    color: #01916d;
    background-color: #fff;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3px;
  }

  


  .judul>p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #e2063d;
    text-shadow: #000;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3px;
  }

  .link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .link>a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border: 3px solid #fff;
    background-color: #028161;
    border-radius: 8px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .link>a:hover {
    background-color: rgb(6, 155, 155);
  }
  
  .footer {
    text-align: center;
  }
  
  .footer>i {
    color: rgb(248, 248, 248);
    font-size: 20px;
    color: rgb(247, 240, 240);
    letter-spacing: 0,5px;
  }